body {
	background: #17141F;
	color: #F2F2F2;
	
}

.hob3{
	color: black;
	background-color: #FFB401;
	}
	
.hob3 + tr:nth-child(odd){
	color: black;
	background-color: green;
}
	
.td{
	width: 100px;
	text-align: center;
	border: 0px solid white;
	padding: 0px;
}

.td2{
	text-align: center;
}


a:visited {
	color:#02DC4A;
}

a {
	color: #02DC4A;
}

.top{
	text-transform: uppercase;
	color: black;
	background-color: #B70B0D;
}

em {
	background-color: #0000AA;
	
}

#the_most_important{
	text-transform: uppercase;
	background-color: gold;
}

h2 {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

h2 + #first_paragraph {
	font-size: x-large;
}

.hob3:hover {
	background-color: #F0F0F0;
}

nav a:first-child{
	text-decoration: underline;
}

nav a{
	text-decoration: none;
}

footer a:hover {
	cursor: pointer;
}

.input{
	height:20px;
}

.msg{
	height:50px;
	width: 300px;
	border-color: yellow;
}
